@import '../../main.scss';

$header-image:url("../../assets/city.jpg");
$green:hsla(120, 31%, 34%, 0.74);


.header {
    @include Flex();
    animation:backgroundColor 360s linear infinite alternate-reverse;    
    background: {
        attachment: fixed;
        blend-mode: multiply;
        image: $header-image;
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    height: 90vh;
    position: relative;
}

@keyframes backgroundColor{
    0%{background-color:$turquise ;}
    10%{background-color: $mellow-apricot;}
    20%{background-color:$green;}
    30%{background-color:$red-english ;}
    40%{background-color:$cyan-light ;}
    50%{background-color:$cyan-light ;}
    60%{background-color:$cyan-light ;}
    70%{background-color:$red-english ;}
    80%{background-color:$green ;}
    90%{background-color: $mellow-apricot;}
    100%{background-color:$turquise ;}
}

@media only screen and (max-width:1100px){
    .header{
        height: 98vh;
    }
}