@import '../../../main.scss';


$border : .25rem solid $red-english;

.social__item {
    @include Flex();
    color: $red-english;
    height: 4rem;
    font-size: 3.5rem;
    position: relative;
    transition: .2s linear transform;
    width: 4rem;
    z-index: 3;
}

.social__item:hover {
    transform: scale(.95);
}

.social__item::before,
.social__item::after {
    height: 4rem;
    transition: .2s linear top, .2s linear opacity, .2s linear left, .2s linear right, .2s linear bottom;
    width: 4rem;
    z-index: -1;
}

.social__item::before {
    border: {
        left: $border;
        top: $border;
    }

    left: -2rem;
    opacity: 0;
    top: -2rem;
}

.social__item:hover::before {
    left: 0;
    opacity: .5;
    top: 0;
}

.social__item::after {
    border: {
        bottom: $border;
        right: $border;
    }

    bottom: -2rem;
    opacity: 0;
    right: -2rem;
}

.social__item:hover::after {
    bottom: 0;
    opacity: .5;
    right: 0;
}