 @import '../../../main.scss';

 .search {
     @include Flex();
     @include FlexColumn();
     height: 15rem;
     width: 40vw;

     &__label {
         color: $white-cultured;
         flex: 1;

         font: {
             size: 3.7rem;
             weight: 900;
         }

         text: {
             transform: uppercase;
             shadow: 0 0 2rem $cadet-space;
         }

         span::selection {
             background: rgba(255, 255, 255, 0);
             color: $cadet-space;
         }


     }

     &__input {
         @include Flex();
         flex: 2;
         position: relative;
         width: 100%;

         input {
             @include Reset();
             color: $white-cultured;

             font: {
                 size: 3rem;
                 weight: 600;
             }

             height: 5rem;

             text: {
                 align: center;
                 shadow: 0 0 1rem $cadet-space;
                 transform: capitalize;
             }

             transition: .2s linear background,
             .2s linear backdrop-filter;
             width: 80%;
         }

         input:focus {
             backdrop-filter: blur(2px);
             background: hsla(240, 22%, 95%, 0.479);
         }

         input::selection {
             background: $black-raisin;
         }

         span {
             background: $grey-gainsboro;
             bottom: 1.7rem;
             height: .5rem;
             position: absolute;
             width: 90%;
         }
     }

 }

 @media only screen {
     @media (max-width:800px) {
         @media (orientation:portrait) {
             .search {
                 height: 15rem;
                 width: 95vw;

                 &__label {
                     font: {
                         size: 2.7rem;
                     }
                 }

                 &__input {
                     input {
                         font: {
                             size: 2.1rem;
                         }
                     }

                     span {
                         bottom: 1.8rem;
                         height: .25rem;
                     }
                 }
             }
         }

         @media (orientation:landscape) {
             .search {
                 height: 12rem;
                 width: 95vw;

                 &__label {
                     font: {
                         size: 2.4rem;
                     }
                 }

                 &__input {
                     input {
                         font: {
                             size: 1.9rem;
                         }
                     }

                     span {
                         bottom: 1.9rem;
                         height: .3rem;
                     }
                 }
             }
         }

     }

     @media (min-width:801px) and (max-width:1250px) {
         .search {
             height: 15rem;
             width: 55vw;

             &__label {
                 font: {
                     size: 3.2rem;
                 }
             }

             &__input {
                 input {
                     font: {
                         size: 2.5rem;
                     }
                 }

                 span {
                     bottom: 1.8rem;
                     height: .4rem;
                 }
             }
         }

     }
 }