@import '../../main.scss';

.nav {
    @include FlexEvenly();
    background: $white-cultured;
    height: 4rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;

    li {
        cursor: pointer;

        font: {
            size: 2.3rem;
            weight: 900;
        }

        position: relative;
        text-transform: uppercase;
        transition:.25s linear color;
    }

    li:hover {
        color: $red-english;
    }

    li::before {
        @include CenterX;
        background: $red-english;
        bottom: 0;
        height: .25rem;
        transition: .25s linear width;
        width: 0;
    }

    li:hover::before {
        width: 105%;
    }
}